/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, input,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Helvetica Neue, Arial, sans-serif;
  min-width: 900px; }

main {
  width: 893px;
  margin: auto; }

a {
  cursor: pointer; }

/* ---------- General ---------- */
.clearfix:after {
  content: "";
  clear: both;
  display: table; }

.box {
  margin: 14px 0;
  border: 1px solid #e1e1e1;
  border-radius: 6px; }

.big-title {
  color: #68757f;
  font-size: 19px;
  font-weight: 200;
  display: inline-block;
  letter-spacing: 0.5px;
  -moz-padding-end: 15px; }

.big-title::first-letter {
  letter-spacing: -2px; }

.dot {
  padding: 0 1px 0 2px; }

/* ---------- Icons ---------- */
.icon {
  background-image: url("../img/twitter_icons_small.png");
  display: inline-block;
  width: 22px;
  height: 22px;
  cursor: pointer; }

.bird-white {
  background-position: -96px -1px;
  vertical-align: middle; }

.home {
  background-position: 0px 0px; }

.connect {
  background-position: -24px 0px; }

.discover {
  background-position: -48px 0px; }

.me {
  background-position: -72px 0px; }

.compose {
  background-position: -121px 0px; }

.settings {
  margin-left: 6px;
  background-position: -147px 1px; }

.mail {
  background-position: -172px 1px;
  margin-left: 3px; }

.search {
  background-position: -206px 0px;
  height: 17px;
  width: 14px; }

.promoted {
  background-position: -372px 0px;
  height: 12px;
  width: 15px; }

/* ---------- Header ---------- */
header {
  background-color: #6babec;
  color: #c9e2f8;
  height: 46px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px; }
  header li {
    cursor: pointer;
    margin-top: 12px; }

.header-left {
  float: left;
  margin-left: 23px;
  font-size: 0px; }
  .header-left li {
    float: left;
    margin-right: 28.5px; }
  .header-left li:first-child {
    color: white; }

.link-name {
  vertical-align: 5px;
  margin-left: 4px;
  font-size: 12px; }

.header-right {
  float: right;
  margin-right: 12px; }
  .header-right li {
    float: right;
    margin-left: 21px; }

.header-center {
  width: 100px;
  margin: auto;
  text-align: center;
  line-height: 46px; }

.searchbar {
  position: relative;
  top: -5px;
  background-color: #4d85c0;
  padding: 5px;
  width: 211px;
  height: 22px;
  border-radius: 16px; }
  .searchbar input {
    position: relative;
    top: -2px;
    background-color: transparent;
    color: white;
    margin-left: 7px;
    font-size: 13px;
    letter-spacing: 0.3px;
    width: 181px; }
  .searchbar input:focus {
    outline: none; }
  .searchbar ::-webkit-input-placeholder {
    color: white;
    padding-top: 2px; }
  .searchbar ::-moz-placeholder {
    color: white;
    padding-top: 2px; }
  .searchbar :-ms-input-placeholder {
    color: white;
    padding-top: 2px; }

/* ---------- Sidebar ---------- */
.sidebar {
  float: left;
  width: 290px;
  margin-top: 14px; }

.account {
  position: relative; }

.background-pic {
  width: 100%;
  height: 144px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

.profile-pic {
  position: absolute;
  top: 11px;
  left: 91px;
  width: 108px;
  height: 117px; }

.counts {
  width: 100%; }
  .counts td {
    border-left: 1px solid #e1e1e1;
    padding: 10px 10px 9px 10px;
    width: 91px; }
  .counts td:first-child {
    width: 115px; }
  .counts td:last-child {
    border-right: 1px solid #e1e1e1;
    width: 82px; }
  .counts h4 {
    color: #9caab4;
    font-size: 9px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 1px; }

.count {
  font-size: 14px;
  color: #68757f; }

.box-bottom {
  border: 1px solid #e1e1e1;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }

.compose-tweet {
  margin: 10px 12px;
  width: 246px;
  height: 30px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 0.5px;
  padding: 0px 8px; }

.box-bottom ::-webkit-input-placeholder {
  padding-top: 1px;
  letter-spacing: 0.75px; }
.box-bottom ::-moz-placeholder {
  padding-top: 1px; }
.box-bottom :-ms-input-placeholder {
  padding-top: 1px; }

.trends {
  padding: 18px 15px 11px 15px;
  font-size: 12px; }
  .trends .trends-title {
    margin-bottom: 9px; }
  .trends .dot {
    display: inline-block;
    font-weight: 200; }
  .trends li {
    margin-bottom: 8px; }
  .trends a {
    color: #80a7d2;
    font-weight: 200;
    letter-spacing: 0.25px;
    margin-right: 5px; }
  .trends a:hover {
    text-decoration: underline; }
  .trends .promoted {
    position: relative;
    top: 2px;
    margin-right: 1px; }

.links {
  padding: 14px 10px 17px 15px; }
  .links a {
    display: inline-block;
    color: rgba(153, 153, 153, 0.75);
    font-size: 12px;
    font-weight: 200;
    margin: 0 4px 2px 0;
    letter-spacing: 0.3px; }
  .links a:hover {
    color: #68757f; }

/* ---------- Tweets ----------*/
.tweets {
  float: right;
  width: 589px; }

.overlay {
  opacity: 0.5;
  display: none;
  position: absolute;
  z-index: 3;
  background-image: url("../img/twitter_small.png");
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px; }
