@import 'reset';

$font: Helvetica Neue, Arial, sans-serif;
$header-color: rgb(107, 171, 236);
$header-height: 46px;
$nav-link-color: rgb(201, 226, 248);
$radius: 6px;
$sidebar-width: 290px;
$border: 1px solid rgb(225, 225, 225);
$medium-grey: rgb(156, 170, 180); //h4, conversation-line, username
$dark-grey: rgb(104, 117, 127); //count, big-title
$light-grey: rgb(153, 153, 153); //links, retweeter
$dark-blue: rgb(77, 133, 192); // searchbar, trends-list, target-name, additional-replies

body {
  font-family: $font;
  min-width: 900px;
}
main {
  width: 893px;
  margin: auto;
}

/* ---------- General ---------- */

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
.overlay {
  opacity: 0.5;
  display: none;
  position: absolute;
  z-index: 3;
  background-image: url("../img/twitter_small.png");
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.box {
  margin: 14px 0;
  border: $border;
  border-radius: $radius;
}

/* ---------- Icons ---------- */

.icon {
  background-image: url("../img/twitter_icons_small.png");
  display: inline-block;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.bird-white {
  background-position: -96px -1px;
  vertical-align: middle;
}
.home {
  background-position: 0px 0px;
}
.connect {
  background-position: -24px 0px;
}
.discover {
  background-position: -48px 0px;
}
.me {
  background-position: -72px 0px;
}
.compose {
  background-position: -121px 0px;
}
.settings {
  margin-left: 6px;
  background-position: -147px 1px;
}
.mail {
  background-position: -172px 1px;
  margin-left: 3px;
}
.search {
  background-position: -206px 0px;
  height: 17px;
  width: 14px;
}

/* ---------- Header ---------- */

header {
  background-color: $header-color;
  color: $nav-link-color;
  height: $header-height;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;

  li {
    cursor: pointer;
    margin-top: 12px;
  }
}
.header-left {
  float: left;
  margin-left: 23px;
  font-size: 0px;

  li {
    float: left;
    margin-right: 28.5px;
  }

  li:first-child {
    color: white;
  }
}
.link-name {
  vertical-align: 5px;
  margin-left: 4px;
  font-size: 12px;
}
.header-right {
  float: right;
  margin-right: 12px;

  li {
    float: right;
    margin-left: 21px;
  }
}
.header-center {
  width: 100px;
  margin: auto;
  text-align: center;
  line-height: $header-height;
}
.searchbar {
  position: relative;
  top: -5px;
  background-color: $dark-blue;
  padding: 5px;
  width: 211px;
  height: 22px;
  border-radius: 16px;

  input {
    position: relative;
    top: -2px;
    background-color: transparent;
    color: white;
    margin-left: 7px;
    font-size: 13px;
    letter-spacing: 0.3px;
    width: 181px;
  }

  input:focus {
    outline: none;
  }

  ::-webkit-input-placeholder {
    color: white;
    padding-top: 2px;
  }
  ::-moz-placeholder {
    color: white;
    padding-top: 2px;
  }
  :-ms-input-placeholder {
    color: white;
    padding-top: 2px;
  }
}

/* ---------- Sidebar ---------- */

// account box

.sidebar {
  float: left;
  width: $sidebar-width;
  margin-top: 14px;
}
.account {
  position: relative;
}
.background-pic {
  width: 100%;
  height: 144px;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;

}
.profile-pic {
  position: absolute;
  top: 11px;
  left: 91px;
  width: 108px;
  height: 117px;
}
.counts {
  width: 100%;
  td {
    border-left: $border;
    padding: 10px;
    width: 103px;
  }
  td:last-child {
    border-right: $border;
    width: 82px;
  }
  h4 {
    color: $medium-grey;
    font-size: 9px;
    font-weight: 200;
    letter-spacing: 0.5px;
  }
}
.count {
  font-size: 13px;
  color: $dark-grey;
}
.box-bottom {
  border: $border;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}
.compose-tweet {
  margin: 10px 12px;
  width: $sidebar-width - 44px;
  height: 20px;
  border: $border;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 0.5px;
  padding: 5px 8px;
}

// trends box

/* ---------- Tweets ----------*/

.tweets {
  float: right;
  width: 589px;
}


