
<script type='text/x-handlebars' data-template-name='twitter/index'>

    <h1>Please search for a screen name</h1>

</script>

<script type='text/x-handlebars' data-template-name='twitter/loading'>

  <h1>Searching for {{controllers.twitter.searchingFor}}...</h1>

</script>

<script type='text/x-handlebars' data-template-name='twitter/fail'>

  <h1>{{controllers.twitter.searchingFor}} was not found, please try again</h1>

</script>

<script type='text/x-handlebars' data-template-name='tweet'>

  {{{parseTweet}}}

</script>

<script type='text/x-handlebars' data-template-name='time'>

  <span class='how-long-ago'>{{{howOld}}}</span>

</script>

<script type='text/x-handlebars' data-template-name='user'>

  <main>
    <section class='sidebar'>
      <div class='account'>
        <img {{bind-attr src=backgroundPic}} class='background-pic' />

        <img {{bind-attr src=profilePic}} class='profile-pic' />

        <table class='counts'>
          <tr>
            <td class='tweet-count'>
              <h4>TWEETS</h4>

              <span class='count'>{{numTweets}}</span>
            </td>

            <td class='following-count'>
              <h4>FOLLOWING</h4>

              <span class='count'>{{numFollowing}}</span>
            </td>

            <td class='followers-count'>
              <h4>FOLLOWERS</h4>

              <span class='count'>{{numFollowers}}</span>
            </td>
          </tr>
        </table>

        <div class='box-bottom'>
          {{input
            class='compose-tweet'
            placeholder='Compose new Tweet...'
            value=new_tweet
            action="postTweet"
          }}

        </div>
      </div>


      <div class='trends box'>
        <div class='trends-title'>
          <div class='big-title'>Trends</div>

          <div class='dot'>&#183;</div>

          <a>Change</a>
        </div>

        <ul class='trends-list'>
          {{#each trends}}
            <li>
              <a>{{name}}</a>
              {{#if promoted_content}}
                <span class='icon promoted'></span>

                <a>Promoted</a>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>


      <div class='links box'>
        <span>&#169; 2014 Twitter</span>
        <a>About</a>
        <a>Help</a>
        <a>Terms</a>
        <a>Privacy</a>

        <br />

        <a>Cookies</a>
        <a>Ads info</a>
        <a>Brand</a>
        <a>Blog</a>
        <a>Status</a>

        <br />

        <a>Apps</a>
        <a>Jobs</a>
        <a>Advertise</a>
        <a>Media</a>
        <a>Developers</a>
      </div>
    </section>



    <section class='tweets box'>
      <div class='tweets-title'>
        <div class='big-title'>Tweets</div>
      </div>


      <div class='feed'>
        {{#each getTweets}}
          <article class='conversation'>

            <div class='tweet'>
              <section class='visuals'>

                <img src='{{unbound profile_pic}}' class='thumbnail' />

                <div class='convo-line-solid'></div>
              </section>

              <section class='content'>
                <div class='tweet-header'>
                  <span class='author'>{{../user.name}}</span>

                  <span class='username'>@{{../user.screen_name}}</span>

                  {{render 'time' created_at}}
                </div>

                <div class='tweet-content'>
                  {{render "tweet" text}}
                </div>

                <div class='tweet-nav-bar'>
                  <span class='icon reply'></span>
                  <span class='icon retweet'></span>
                  <span class='icon favorite'></span>
                  <span class='icon more'></span>
                </div>
              </section>
            </div>

          </article>
        {{/each}}

        {{#each retweets}}
          <article class='conversation'>

            <div class='tweet'>
              <section class='rt-notification'>
                <span class='icon retweet-green'></span>

                <p>Retweeted by {{user.name}}</p>
              </section>

              <section class='visuals'>

        {{#with retweeted_status}}
                <img src="{{unbound user.profile_image_url}}" class='thumbnail' />

                <div class='convo-line-solid'></div>
              </section>

              <section class='content'>
                <div class='tweet-header'>
                  <span class='author'>{{user.name}}</span>

                  <span class='username'>@{{user.screen_name}}</span>
        {{/with}}
                  {{render 'time' created_at}}
                </div>

                <div class='tweet-content'>
                  {{render "tweet" text}}

                  {{#each entities.media}}
                    <img src="{{unbound media_url}}" />
                  {{/each}}
                </div>

                <div class='tweet-nav-bar'>
                  <span class='icon reply'></span>
                  <span class='icon retweet'></span>
                  <span class='icon favorite'></span>
                  <span class='icon more'></span>
                </div>
              </section>
            </div>

          </article>
        {{/each}}
      </div>
    </section>
  </main>
</script>


<script type='text/x-handlebars' data-template-name='twitter'>
  <header>

    <ul class='header-left'>
      <li class='h-l-link'>
        <span class='icon home'></span>

        <span class='link-name'>Home</span>
      </li>

      <li class='h-l-link'>
        <span class='icon connect'></span>

        <span class='link-name'>Connect</span>
      </li>

      <li class='h-l-link'>
        <span class='icon discover'></span>

        <span class='link-name'>Discover</span>
      </li>

      <li class='h-l-link'>
        <span class='icon me'></span>

        <span class='link-name'>Me</span>
      </li>
    </ul>


    <ul class='header-right'>
      <li class='h-r-link'>
        <span class='icon compose'></span>
      </li>

      <li class='h-r-link'>
        <span class='icon settings'></span>
      </li>

      <li class='h-r-link'>
        <span class='icon mail'></span>
      </li>

      <li class='searchbar'>
        {{input type='text' placeholder='Search' value=screen_name
          action="findUser" disabled=isLoading}}

        <span class='icon search' {{action "findUser"}}></span>
      </li>
    </ul>


    <div class='header-center'>
      <span class='icon bird-white'></span>
    </div>

  </header>

  {{outlet}}
</script>
